@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>
    Welcome to my corner of the interwebs. This is mainly just a place for me to play with different new technologies in a way that is somewhat productive.
</p>
<p>
    In the near future I'll be adding more features. I'm slowly adding stuff in. I just got done adding in a backside images tool that stores data into SQL server (an Azure instance of it anyway). 
</p>
<p>
    As a place to keep what I want to add to the site, here is a list. I will update this as things come along
    <ul>
        <li>
            Commenting system.
            <ul>
                <li>
                    That means adding user accounts for the public.
                </li>
                <li>
                    And then that means adding roles, one for me as an admin, others as simple users.
                </li>
                <li>
                    And that leads to offering sigin through facebook/twitter/google.
                </li>
            </ul>
        </li>
        <li>
            Not seen by many users, admin tool improvments:
            <ul>
                <li>
                    Smoother adding of existing site images to posts
                </li>
                <li>
                    Pagination of list of posts.
                </li>
                <li>
                    Searching posts
                </li>
            </ul>
        </li>
        <li>
            Pagination of content on Thoughts pages
        </li>
        <li>
            Site-wide Searching
        </li>
    </ul>
</p>