@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    <table>
        <tr>
            <td>
                <strong>Facebook&nbsp;&nbsp;</strong>
            </td>
            <td>
                <a href="https://facebook.com/louisbustin">facebook.com/louisbustin</a>
            </td>
        </tr>
        <tr>
            <td>
                <strong>Twitter</strong>
            </td>
            <td>
                <a href="http://twitter.com/louisbustin">twitter.com/louisbustin</a>
            </td>
        </tr>
        <tr>
            <td>
                <strong>Google+</strong>
            </td>
            <td>
                <a href="http://google.com/+LouisBustin">google.com/+LouisBustin</a>
            </td>
            </tr>    
    </table>
</address>


<address>
    <table>
        <tr>
            <td>
                <strong>Email</strong>
            </td>
            <td>
                <a href="mailto:louis@eforge.us">louis@eForge.us</a>
            </td>
        </tr>
        <tr>
            <td>
                <strong>Google&nbsp;&nbsp;</strong>
            </td>
            <td>
                <a href="mailto:dezpot@gmail.com">dezpot@gmail.com</a>
            </td>
        </tr>
    </table>
</address>