@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>eForge.us</h1>
    <p class="lead">This is the primary web home of Louis Bustin.</p>
    <p><a href="http://facebook.com/louisbustin" class="btn btn-primary btn-large">Facebook &raquo;</a>
    <a href="http://twitter.com/louisbustin" class="btn btn-primary btn-large">Twitter &raquo;</a>
    <a href="http://plus.google.com/louisbustin" class="btn btn-primary btn-large">Google+ &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>A little bit of everything</h2>
        <p>
            I keep a <a href="~/Thoughts">blog</a> on this site of some pretty random stuff. From politics to programming topics to sports jackassery. 
        </p>
        <p><a class="btn btn-default" href="~/Thoughts">Show me &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Tech related musings</h2>
        <p>
            Sometimes I feel like I am a pretty competent programmer. Other times I feel like I just stepped out of college. Here is the spot in which I write about some of both. 
            I discuss some advanced topics as well as some random banter about the cool cell phone I just got.
        </p>
        <p><a class="btn btn-default" href="~/Thoughts/Category/Tech">Sounds interesting &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Sports ball</h2>
        <p>
            I do not talk about baseball. You won't find any commentary on the NBA. You will see some in depth talk about the New Orleans Saints, but probably not much else football related.
            Oh, and probably a good bit of the other football (a.k.a. soccer).
        </p>
        <p><a class="btn btn-default" href="~/Thoughts/Category/Sports">Shiny! &raquo;</a></p>
    </div>
</div>