body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

/* styles for validation helpers */
.field-validation-error {
    color: #b94a48;
}

.field-validation-valid {
    display: none;
}

input.input-validation-error {
    border: 1px solid #b94a48;
}

input[type="checkbox"].input-validation-error {
    border: 0 none;
}

.validation-summary-errors {
    color: #b94a48;
}

.validation-summary-valid {
    display: none;
}

#categorymenu ul {
    
    margin: 0;
    padding: 0;
    list-style-type: none;
    text-align: center;
}

#categorymenu ul li {
  list-style-type:none;
  }

#categorymenu ul li { 
    display: inline; 
}

#categorymenu ul li a { 
    text-decoration: none; 
    padding: .2em 1em;
    color: #eee;
}

#categorymenu ul li a:hover
{
    color: #fff;
    background-color: #000;
}

#categorymenu a span {
  display:none;
}

#categorymenu a, #categorymenu a:visited {
    position: relative;
}

#234 a:hover span {
  display:inline;
  position:relative;
}

#categorymenu a:hover span {
  display:inline-block;
  position:absolute;
  left:0em;
  top:3em;
  text-align:left; /* ADDED */
  padding:0.5em;  /* ADDED */
  width:24em; /* ADDED */
  background-color:#999; /* ADDED */
  color:#fff; /* ADDED */
  border:1px solid #808080; /* ADDED */
}